.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





h2, h4 {
  margin: 10px;
}

.upload {
  font-size: xx-large;
}

form {
  width: 80%;
}

input {
  width: 50%
}

button {
  font-size: large;
  margin: 15px;
}

table {
  border-collapse: collapse;
}

td.color {
  font-size: large;
  width: 225px;
  height: 225px;
}

td.folder {
  max-width: 220px;
  font: large bold;
  padding: 10px;
  border: 1px black solid;
  background-color: white;
}

div.folder {
  width: 200px;
  font-size: small;
  padding: 10px;
  border: 1px black solid;
  background-color: white;
}