.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



h1 {
  margin: 0px
}

h2 {
  margin: 40px
}

.upload {
  font-size: xx-large;
}

form {
  width: 80%;
}

input {
  width: 50%
}

button {
  font-size: large;
  margin: 15px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.delete {
  color: red;
}

table {
  border-collapse: collapse;
}





td.folder {
  width: 420px;
  font: large bold;
  padding: 10px;
  border: 2px black solid;
  background-color: white;
  color: black;
  vertical-align: top;
}

div.folder {
  width: 400px;
  font-size: small;
  padding: 10px;
  border: 1px black solid;
  background-color: white;
  
}

.folderpath {
  min-width: 885px;
  font: large bold;
  border: 3px black solid;
  background-color: white;
  color: black;
  padding: 20px;
}





table.colors td{
  font-size: large;
  min-width: 250px;
}

td.color {
  height: 250px;
}

.small {
  font-size: x-small;
}

.addon {
  height: 50px;
  width: 50px;
}

.slider > *{
  font-size: smaller;
  margin: 10px;
}

.numinp {
  max-width: fit-content;
  font-size: medium;
}

.sld {
  -webkit-appearance: none;
  height: 5px;
}

.sld::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  width: 5px;
  height: 20px;
  cursor: pointer;
}






th {
  padding: 100px;
}

table.details {
  width: 100%;
}

table.details td{
  width: 16.65%;
  vertical-align: top;
}